body{
    font-family: montserrat,"helvetica neue",helvetica,arial,sans-serif;
    background-color: #f8f9fa;
    color: #495057;
}

.content{
    margin-top: 20px;
}

.numbers input[type=text]{
    height: 200px;
    width: 130px;
    font-size: 8em;
    text-align: center;
    display: inline;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

#form-challenge-your-friends .share-code{
    text-align: center;
}

@media (max-width: 575.98px) {
    .numbers input[type=number]{
        width: 80px;
        font-size: 6em;
    }
}
